<!DOCTYPE html>
<html>
<head>
  <title>Is there time?</title>
</head>
<body>
  <h1>The current time is: <%= Time.now %></h1>
 <ul>
  <% ["mike", "tina", "penny"].each do |name| %>
    <li><%= name %></li>
  <% end %>
</ul>
</body>
</html>